.sidePanel {
    width: 400px;
    height: 100vh;
    box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);;
}

.sidePanel_title {
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #c5c5c5;
}

.usersList {
    width: 100%;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.user {
    height: 60px;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 0 10px;
}

.master {
    width: 100%;
    height: 60px;
    border-top: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: white;
}

.btnOutdoor {
    padding: 10px;
    border: none;
    background-color: rgb(185, 255, 173);
    border-radius: 10px;
    font-size: 16px;
}